.common-modal[data-v-014a16da] .ivu-modal-content {
    border-radius: 20px;
    border-radius: 24px
}

.common-modal[data-v-014a16da] .ivu-modal-body {
    text-align: center;
    padding: 24px;
    color: #3d4045
}

.common-modal[data-v-014a16da] .ivu-modal-body .image-type {
    width: 100px
}

.common-modal[data-v-014a16da] .ivu-modal-body .image-width {
    width: 100%
}

.common-modal[data-v-014a16da] .ivu-modal-body .bid-img {
    max-width: 240px
}

.common-modal .icon-info[data-v-014a16da] {
    width: 16px;
    height: 16px;
    vertical-align: sub
}
