.questionIcon[data-v-64cde390] {
    cursor: pointer
}

.margin-left-auto[data-v-64cde390] {
    margin-left: auto
}

.cursor-pointer[data-v-64cde390] {
    cursor: pointer
}

.img[data-v-64cde390] {
    display: block
}

[data-v-64cde390] .rule-modal .ivu-modal-header {
    border-bottom: none
}

[data-v-64cde390] .rule-modal__tab {
    font-family: Poppins-Bold;
    font-size: 16px;
    color: #979797;
    cursor: pointer;
    padding: 10px 20px
}

[data-v-64cde390] .rule-modal__tab.active {
    color: #000;
    font-weight: 600
}

[data-v-64cde390] .rule-modal__inner {
    padding: 20px 20px 30px 20px;
    border-radius: 20px;
    background: hsla(0,0%,93%,.5)
}

@media screen and (min-width: 768px) {
    .questionIcon[data-v-64cde390] {
        cursor:pointer
    }
}
